body {
    margin:0;
}

#window_container {
    display: flex;
    justify-content: center;
    flex-direction: row nowrap;
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    height: 700vh;
    z-index: -999;
}

#foo {
    width:100vw;
    height: 100vh;
    background-color: blue;
}

#display_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column nowrap;
    width: 600px;
    min-height: 100vh;
    background-color: red;
}

@media only screen and (max-width: 600px) {
    #display_container {
      width: 100%;
    }
}

#nav_container {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    max-height: 7vh;
}

#nav_banner {
    display:flex;
    flex-direction: column;
    width: 100%;
    max-height: 7vh;
    padding-bottom: 2px;
    z-index: 990;
}

#logo_element {
    display:flex;
    object-fit: contain;
    background-color: #FFFFFF;
    max-height: 3vh;
    padding-top: 3vh;
    z-index: 991;
}

#nav_separator {
    margin: 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
    z-index: 992;
}